// Fonts
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

// Colors
$primary: rgb(13, 163, 173);
$secondary: rgb(102, 102, 102);
$dark: rgb(27, 27, 27);

// import Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

* {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

.navbar-nav {
    a {
        font-size: 1.2em;
        transition: color 0.25s;
    }

    a:hover {
        color: $primary !important;
    }
}

#projects {
    img {
        border: 4px solid $secondary;
        transition: border-color 0.25s, transform 0.25s;
    }

    img:hover {
        border: 4px solid $primary;
        transform: scale(102%);
    }
}

#curriculum {
    img {
        max-width: 250px;
    }
}

// Media Queries
@include media-breakpoint-up(md) {
    #showcase {
        position: relative;

        img {
            position: relative;
            z-index: 100;
        }
    }

    #showcase::before,
    #showcase::after {
        content: '';
        position: absolute;
        height: 150px;
        bottom: -40px;
        right: 0;
        left: 0;
        background: $light;
        transform: skewY(-0.7deg);
    }
}
